<a href="https://colab.research.google.com/github/leesolhahaha/python-basics/blob/main/04_%EC%BB%AC%EB%A0%89%EC%85%98_%EB%8D%B0%EC%9D%B4%ED%84%B0_%ED%83%80%EC%9E%85.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 컬렉션
 - 무엇인가를 모은 것!
 - 파이썬의 컬렉션은 **파이썬에 존재하는 모든 것**을 모을 수 있다.
  - 문법적인 요소들을 빼고는 모두 다 모을 수 있다.
  - 데이터, 변수, 함수, 클래스, 오브젝트

- 어떠한 데이터를 모아낸 구조
  - **자료구조**

  문자열은 문자들을 문자들을 보기 좋게 나열 해놨기때문에 컬렉션의 특징을 띄고있는 자료형이지 데이터를 모은 것은 아님 따라서 컬렉션은 아님

## 컬렉션의 종류

- list
 - Sequence 자료형
 - Mutable 자료형
    - 추가된 데이터가 바뀔 수 있다.
 -중복 데이터 저장이 가능
 - []또는 list()를 를 이용해서 만들 수 있음


- tuple
  - Sequence자료형
  - Immutable 자료형
    - 추가된 데이터가 바뀔 수 없음
    - str 형식의 데이터도 immutable

  - 중복데이터가 바뀔 수 없다.
  - str 형식의 데이터도 Immutable

    바뀐게 아니고 바뀐 새로운 문자열이 나오는 것

함수에 대해 공부할때 데이터를 안정적으로 꺼내보고 싶을 때

- set
  - Non-Sequence 자료형
    - 데이터 저장의 순서를 보장하지 않음 (index가 없음)
  - 중복 데이터의 저장도 허용하지 않음
  - **집합**의 개념

- dict
 - Non-Sequence 자료형
 - Key-Vlaue 구조자료형

- generator

## list

In [ ]:
list1= [1,2,3, "four", [6,7], 7.0, True] #[6,7] 는 리스트의 묶음이기때문에 하나의 객제로 봐야함
list1

[1, 2, 3, 'four', [6, 7], 7.0, True]

In [ ]:
len(list1) #시퀀스 자료형이기때문에 길이를 잴 수 있음

7

In [ ]:
print(list1[3])
print(list1[2])
print(list1[4])

four
3
[6, 7]

In [ ]:
print(list1[4][1]) #나중에 넘파이 사용할때는 [4,1]이렇게 사용해도 됨 지금 말고

7

In [ ]:
BTS = ["정국", "슈가", "뷔", "랩몬스터", "지민", "제이홉", "진"]

# 문제1 => "랩몬스터에서 "몬스터"만 추출
# 문제 => [진, 지민, 뷔, 정국] 만 추출

print(BTS[3][1:])
print(BTS[::-2])

몬스터
['진', '지민', '뷔', '정국']

## list의 기능

- append() 완전 중요!!!!!
  - list의 제일 뒤에 값을 추가함

- sort() 중요!
  - 오름차순 정렬
  - reverse=True 설정하면 내림차순 정렬

- pop()
   - 제일 뒤에 있는 데이터를 꺼내고 삭제

In [ ]:
list2 = [1,2]
list2.append(3) #개발자 출력을 했을 때 내가 얻어낼 수 있는 값이 하나도 없다는 뜻이라서 # 어팬드에 의해서 변화를 한거지 새로운 리스트가 만들어진것이 아님
#새로운게 만들어지는게 아니라 내부에 변화가 일어나는 것

In [ ]:
list2[:2] # 이거는 실제로 잘린게 아니라 잘린 것 처럼 보이는 것 실제로는 바뀌지 않음

[1, 2]

In [ ]:
list2

[1, 2, 3]

In [ ]:
print(list2.append(4)) #내부적으로 변화만 있을 뿐이지 의미가 있는 값이 나올 것이 없기 때문에 NOne이 나옴

None

In [ ]:
print("a")

a

In [ ]:
list2 # 내가 보이지 않는 부분에서 변화가 일어난 것이기 때문에 실제로 바뀌는 것을 볼 수 있음

[1, 2, 3, 4]

In [ ]:
list2.append(5, 6)
list2

TypeError: list.append() takes exactly one argument (2 given)

In [ ]:
list2.append("hello")
list2.append(3.141592)
list2

[1, 2, 3, 4, 'hello', 3.141592]

In [ ]:
list3 = [5,1,4,7,2,3,6]
list3

[5, 1, 4, 7, 2, 3, 6]

In [ ]:
list3.sort() #오름차순 정렬 힙메모리 안쪽에서 변형이 일어난 것이기때문에 나오지않음 실제로 변화는 안에서 일어남 변화가 된 것처럼 보이는 것이 아니고 실제로 일어난 것이라는 것을 알아야함

In [ ]:
list3

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
list3.sort(reverse=True) #내림차순 정렬
list3

[7, 6, 5, 4, 3, 2, 1]

In [ ]:
list4 = ["banana", "apple", "avocado", "cherry", "mango"]
list4

['banana', 'apple', 'avocado', 'cherry', 'mango']

In [ ]:
list4.sort() # 문자열도 a~z순으로 정렬이 가능하다
list4

['apple', 'avocado', 'banana', 'cherry', 'mango']

In [ ]:
list5 = ["Apple", "apple", "Banana", "banana"] #대소문자를 함께 사용하면 대문자가 먼저 나오게 된다. 대문자 a-z 다음에 소문자 a-z 순서
list5.sort()
list5

['Apple', 'Banana', 'apple', 'banana']

In [ ]:
# list1= [1,2,3, "four", [6,7], 7.0, True]
item = list1.pop() #제일 뒤에서 아이템을 빼낸 후 삭제
print(item, " / ", list1) # 계속 실행시키면 계속 마지막이 사라지다가 마지막 하나까지 다 빠지고서도 실행하면 에러남

7.0  /  [1, 2, 3, 'four', [6, 7]]

In [ ]:
pokemon1 = ["피카츄", "라이츄"]
pokemon2 = ["꼬부기", "파이리"]

#병합과 추가는 다름 내가 원하는 아이템을 추가할 수 있음

#추가(append)
pokemon1.append(pokemon2) #포켓몬2를 그대로 넣었기때문에 세개로 나오게 된다. 리스트형태 그대로 추가
pokemon1

['피카츄', '라이츄', ['꼬부기', '파이리']]

In [ ]:
#병합(extend) 하나로 뭉치는 것
pokemon1 = ["피카츄", "라이츄"]
pokemon2 = ["꼬부기", "파이리"]

pokemon1.extend(pokemon2)
pokemon1

['피카츄', '라이츄', '꼬부기', '파이리']

In [ ]:
pokemon1 = ["피카츄", "라이츄"]
pokemon2 = ["꼬부기", "파이리"]

pokemon1 + pokemon2

#extend와의 차이점은 extend는 포1에 포2가 들어가는 개념임 포1에 내부적인 변화가 일어나는것
#더하기를 하면 합쳐진 모양의 새로운 리스트가 나오는 거임

['피카츄', '라이츄', '꼬부기', '파이리']

리스트의 기능들은 대부분 내부적으로 변화가 있는 것이라고 생각하면 편함

# tuple
- 리스트와 매우 흡사하지만 변경(추가, 삭제, 수정)이 불가
- 튜플은 리스트보다 같은 데이터를 가졌을 때 공간을 적게 사용

In [ ]:
#리스트는 아이템의 수정이 가능
lst = [1,2,3]
lst[1] = "hahahaha"
lst

[1, 'hahahaha', 3]

In [ ]:
# 튜플은 아이템 수정이 불가능
tup = (1,2,3)
tup

(1, 2, 3)

In [ ]:
len(tup) # 시퀀스자료형이기 때문에 길이 잴 수 있음

3

In [ ]:
tup[1] = "hahahaha" # 아이템 수정이 불가능함 내부적으로 수정을 방지함

In [ ]:
tup[1]

2

In [ ]:
tup[:2]

(1, 2)

In [ ]:
tup[::-1] #바뀐게 아니라 새로운 오브젝트를 만들어 낸것, 같은 시퀀스자료형이기때문에 나누는게 가능하지만 어펜드같은 수정은 불가능

(3, 2, 1)

In [ ]:
# str 도 Immutable 에러뜸
text = "abcd"
text[1] = "f"

In [ ]:
# "abcd" -> "abfcd"
# 변경이 된 것처럼 보이게 하는 것
text = "abcd"
text = text[:2] + "f" + text[2:]
text

'abfcd'

In [ ]:
# 리스트와 튜플의 저장공간 비교
# 공부하지말고 참고만

import sys
lst = [1,2,3]
tup = 1,2,3 #소괄호 생략 가능

print(sys.getsizeof(lst))
print(sys.getsizeof(tup))

88
64

## 패킹(packing), 언패킹(UnPacking) !!!!

 - 패킹 : 데이터를 모아내는 작업
 - 언패킹 : 모아낸 데이터를 풀어놓는 작업

튜플의 개념보다는 시퀀스의 개념

In [ ]:
# 패킹
tup = (1, "two", 3)

#언패킹
item1, item2, item3 = tup  # 각각의 객체가 다 분해 되는 것

print(item1)
print(item2)
print(item3)

1
two
3

In [ ]:
item1, item2 = tup #변수와 객체의 수가 맞아야함 오류가 뜸
#too many values to unpack

ValueError: too many values to unpack (expected 2)

In [ ]:
item1, item2, item3, item4 = tup
#not enough values to unpack

ValueError: not enough values to unpack (expected 4, got 3)

In [ ]:
tup = ("one", 2, "three")
# 문자열만 가지고 오고 싶을 때

item1 = tup[0]
item2 = tup[2] # 이렇게 해도 되긴 하지만

In [ ]:
# 관례상 필요없는 패킹 데이터는 언더바(_)를 변수명으로 사용
# _로 아름이 지어진 변수는 사용하지 않을 변수
item1, _, item2 = tup

In [ ]:
_ #실제로 _에 들어가긴 하지만 사용하지 않을 것을 나타내는 것

2

In [ ]:
 # 1,3만 언패킹

tup = (1,2,3,4)

item1, _, item2, _ = tup

## Set(집합)

In [ ]:
set1 = {1,1,1,2,2,2,3,3,3,4,4,4,5,5,5} #set 집합이기때문에 하나씩만 나오게 됨
lst1 = [1,1,1,2,2,2,3,3,3,4,4,4,5,5,5] #list

print(set1)
print(lst1)

{1, 2, 3, 4, 5}
[1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5, 5]

In [ ]:
set2 = {"bananan", "apple", "mango", "cherry", "orange"} #배치순서가 무시됨 시퀀스가 아니기 때문데 배치순서가 다 다름
lst2 = ["bananan", "apple", "mango", "cherry", "orange"]

print(set2)
print(lst2)

{'mango', 'orange', 'bananan', 'cherry', 'apple'}
['bananan', 'apple', 'mango', 'cherry', 'orange']

## set의 집합 연산
- 교집합 : intersection
- 합집합 : union
- 차집합 : difference
- 부분집합 : issubset - 어떠한 집합인가 여부만 나옴

In [ ]:
A = {1,2,3}
B = {2,3,4}

In [ ]:
#교집합
A.intersection(B)

{2, 3}

In [ ]:
# 합집합
A.union(B)

{1, 2, 3, 4}

In [ ]:
# 차집합
A.difference(B) #A-B 가 되는 거

{1}

In [ ]:
B.difference(A) # 호출하는 쪽이 기준이 되기 때문에 B - A

{4}

In [ ]:
# 부분집합 - True / False
C = {2,3}

In [ ]:
# 집합 C가 A의 부분집합인가?
C.issubset(A)

True

In [ ]:
# 집합 C가 B의 부분집합인가?
C.issubset(B)

True

In [ ]:
# 집합 B가 A의 부분집합인가?
B.issubset(A)

False

'set'은 논 시퀀스이기때문에 인덱스 사용이 불가능

In [ ]:
A[0] # 이런식으로 오류가 나옴 'set' object is not subscriptable 특정구조를 읽어낼 수가 없음
# subscriptable 특정 데이터에 접근하는 것을 의미하는데 set은 집합이기때문에 그것이 불가능하다는 것

TypeError: 'set' object is not subscriptable

# dict 중요!!!!

- {key : value}
 - {key1 : value1, key2 : value2, key3 : value3}

- key의 특징
 - key는 set의 형태로 저장된다.
 - 정수와 문자열로만 설정이 가능

- value의 특징
 - value는 list의 형태로 저장
 - 중복저장 허용
 - 파이썬에 존재하는 모든 데이터 타입이 저장 될 수 있음.

In [ ]:
city = {
    "Korea" : "Seoul",
    "Japan" : "Tokyo",
    "Canada" : "Ottawa"
}

city

{'Japan': 'Tokyo', 'Korea': 'Seoul', 'Canada': 'Ottawa'}

In [ ]:
# 딕셔너리에서 데이터를 가져오는 방법
city["Japan"]

'Tokyo'

In [ ]:
city["Korea"]

'Seoul'

In [ ]:
# 없는 키를 조회하면 에러!
city["USA"]

In [ ]:
# 없는 키를 조회한 경우 대체 값을 지정
city.get("USA", "없음!")

'없음!'

## 'dict'에 데이터를 추가, 변경
- 추가와 변경의 문법이 똑같다.
- 키가 없으면 추가, 있으면 수정

In [ ]:
city["China"] = "Beijing"
city

{'Japan': 'Tokyo', 'Korea': 'Seoul', 'Canada': 'Ottawa', 'China': 'Beijing'}

In [ ]:
city["Japan"] = "Kyoto"
city

{'Korea': 'Seoul', 'Canada': 'Ottawa', 'China': 'Beijing', 'Japan': 'Kyoto'}

## dict의 원소 삭제
 - del 키워드 활용

In [ ]:
del city["Japan"]
city

{'Korea': 'Seoul', 'Canada': 'Ottawa', 'China': 'Beijing'}

## dict의 key, value를 확인
잘 알아놔야함 중요

In [ ]:
# key() : 딕셔너리의 전체 키를 확인
city.keys()

dict_keys(['Korea', 'Canada', 'China'])

In [ ]:
# value() : 딕셔너리의 전체 value를 확인
city.values()

dict_values(['Seoul', 'Ottawa', 'Beijing'])

In [ ]:
# items() : 딕셔너리의 전체 key, value를 튜플 형식으로 확인
city.items()

dict_items([('Korea', 'Seoul'), ('Canada', 'Ottawa'), ('China', 'Beijing')])

# 컬렉션끼리의 타입 캐스팅

In [ ]:
 # list -> tuple
 lst = [1,2,3]
 tuple(lst)

(1, 2, 3)

In [ ]:
# tuple -> list
tup = 1,2,3
list(tup)

[1, 2, 3]

In [ ]:
# Sequence -> set
lst = [1,1,2,2,3,3,4,4,5,5]
set(lst)

{1, 2, 3, 4, 5}

In [ ]:
# dict -> Sequence
list(city) # 키값만 나오게 됨

['Korea', 'Canada', 'China']

In [ ]:
# dict -> set
set(city) # 키값만 나오게 됨

{'Canada', 'China', 'Korea'}

In [ ]:
#str -> list
text = "hello"
list(text)

['h', 'e', 'l', 'l', 'o']

In [ ]:
set(text) # 중복이 제거된 문자만 나오게 됨

{'e', 'h', 'l', 'o'}